/* * {
  border: 1px dashed red;
} */
body {
    background: white;
}

/* .BoxHead {
    display: flex;
    margin: 0 auto;
    justify-content:center;
}
*/
.col-12 text-center{
    z-index: 1;
}
.BgImageTag {
  z-index: -1;
  width: 100%;
  display: flex;
}

/* .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/website/assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
  #BgJPG{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .CajaHeading {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: auto;
  }
  .heading1 {
    align-items: center;
  }

  #MrWhite {
    height: 35%;
    width: 35%;
    align-items: center;
    padding: 20px;
  }
  #ServPic {
    height: 35%;
    width: 35%;
    align-items: center;
    padding: 20px;
  }
  #Fondo {
    z-index: 0;
  }

/* Container holding the image and the text */
.TagImage {
  position: relative;
  text-align: center;
  
}


/* Centered text */
.centered1 {
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  text-align: center;
  
}
.centered2 {
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  text-align: center;
}
#Tag1{
  font-size: 9vw;
}
#Tag2{
  font-size: 4vw;
}