<br> <br>
<div class="container text-center border-top">
    <div class="row">
        <div class="CajaHeading col p-5 ">
            <div class="heading1">

                <h1>
                    This First Heading
                    <span class="text-muted">Will Catch Your Eye</span>
                </h1>
                <p>
                    Nullam id luctus neque. In euismod laoreet felis, a hendrerit tellus efficitur sed. Etiam rhoncus
                    nulla
                    non
                    tristique ultrices. Sed non quam nisl. Proin ut hendrerit enim, at tincidunt dolor. In rutrum arcu
                    justo,
                    vitae
                    dictum purus fermentum sit amet. Maecenas eu lectus blandit est consectetur mollis sed vel metus.
                </p>
            </div>
        </div>
        <img id="MrWhite" src="assets/img/1.jpg" class="rounded-circle p-50">
    </div>
</div>