<div class="container border-top">
    <div class="row p-5 ">

        <h1>Portfolio</h1>
        <h6>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</h6><br />
    </div>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4">
            <div class="card border border-0 my-2">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>

        <div class="col-4 col-sm-4 col-md-4">
            <div class="card border border-0 my-2">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>

        <div class="col-4 col-sm-4 col-md-4">
            <div class="card border border-0 my-2">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio,
                        gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>