<div class="container text-center border-top">
    <div class="row p-5 border-top">
        <div class="row p-1">
            <div class="col-sm-6 col-md-5">
                <img src="/website/assets/img/2.jpg" class="rounded-circle p-50">
            </div>
            <div class="col-md-7">
                <h1>The Second Heading <span class="text-secondary">Is pretty cool too.</span></h1>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
    </div>
</div>

